@model KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h2>Details</h2>

    <div>
      
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Họ tên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.hoTen)
            </dd>

            <dt>
                Ngày sinh
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ngaySinh)
            </dd>

            <dt>
                Giới tính
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gioiTinh)
            </dd>

            <dt>
                Số điện thoại
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soDienThoai)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                Địa chỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.diaChi)
            </dd>

            <dt>
                Tên đăng nhập
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tenDangNhap)
            </dd>

            <dt>
                Mật khẩu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.matKhau)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.khachHangID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>