@model SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h2>Delete</h2>

    <h3>Bạn có muốn xóa sản phẩm này</h3>
    <div>
     
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Tên sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tenSanPham)
            </dd>

            <dt>
               Đơn giá
            </dt>

            <dd>
                @Html.DisplayFor(model => model.donGia)
            </dd>

            <dt>
                Số lượng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.soLuong)
            </dd>

            <dt>
               Hình ảnh
            </dt>

            <dd>
                <img class="imgeql" src="~/images/@Html.DisplayFor(model => model.hinhAnh)" alt="Image" />
            </dd>

            <dt>
               Mô tả
            </dt>

            <dd>
                @Html.DisplayFor(model => model.moTa)
            </dd>

            <dt>
                Tên danh mục
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DanhMuc.tenDanhMuc)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>